<!DOCTYPE html>
<html lang="en">

<%- include('shared/head.ejs') %>

    <body>
        <%- include('shared/nav.ejs') %>

            <div class="not-found content">
                <h1>404 ups!</h1>
                <p>Page not found!</p>

            </div>


            <%- include('shared/footer.ejs') %>
    </body>

</html>